# Recommended Parameter Analysis 

# TODO:
* Make plot showing how many experiments were run. 

## Overview

As the result of an exhaustive parameter sweep search outline [here](https://hackmd.io/pDc6UM9tSiCZUjoEv7GMNQ?both), the recommended parameters data set is analyzed in this notebook in order to aid intuition around the recommended parameters.

In [1]:
# import libraries
import pandas as pd
import pickle as pk
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
parameter_df = pd.read_pickle("saved_results/processed_results.pickle")

In [3]:
parameter_df.head()

,timedelta,cumulative_time,timestamp,eth_price,liquidity_demand,liquidity_demand_mean,eth_collateral,eth_locked,eth_freed,principal_debt,...,ki,kp,alpha,liquidation_ratio,controller_enabled,control_period,liquidity_demand_shock,arbitrageur_considers_liquidation_ratio,rescale_target_price,target_price_scaled
0,0,0,2017-01-01 00:00:00,294.069151,1.000000,1.000000,154827.528922,154827.528922,0.000000,1.000000e+07,...,-5.000000e-09,2.000000e-07,9.990000e+26,1.45,True,14400.0,False,True,True,4.553
1,3600,3600,2017-01-01 01:00:00,291.208252,906.674484,453.837242,154827.528922,154827.528922,0.000000,1.450000e+07,...,-5.000000e-09,2.000000e-07,9.990000e+26,1.45,True,14400.0,False,True,True,3.140
2,3600,7200,2017-01-01 02:00:00,292.287792,-326.024615,63.906314,107503.536596,154827.528922,47323.992326,9.970037e+06,...,-5.000000e-09,2.000000e-07,9.990000e+26,1.45,True,14400.0,False,True,True,3.140
3,3600,10800,2017-01-01 03:00:00,289.343698,209.658450,136.782382,107503.536596,154827.528922,47323.992326,1.000700e+07,...,-5.000000e-09,2.000000e-07,9.990000e+26,1.45,True,14400.0,False,True,True,3.140
4,3600,14400,2017-01-01 04:00:00,286.827771,-79.844839,28.468771,107503.536596,154827.528922,47323.992326,9.906201e+06,...,-5.000000e-09,2.000000e-07,9.990000e+26,1.45,True,14400.0,False,True,True,3.140

### Understand the structure of the dataset

In [4]:
parameter_df.columns

Index(['timedelta', 'cumulative_time', 'timestamp', 'eth_price',
       'liquidity_demand', 'liquidity_demand_mean', 'eth_collateral',
       'eth_locked', 'eth_freed', 'principal_debt', 'rai_drawn', 'rai_wiped',
       'system_revenue', 'stability_fee', 'market_price', 'market_price_twap',
       'target_price', 'target_rate', 'eth_return', 'eth_gross_return',
       'expected_market_price', 'expected_debt_price', 'error_star',
       'error_star_integral', 'market_slippage', 'RAI_balance', 'ETH_balance',
       'UNI_supply', 'simulation', 'subset', 'run', 'substep', 'timestep',
       'eth_collateral_value', 'collateralization_ratio', 'ki', 'kp', 'alpha',
       'liquidation_ratio', 'controller_enabled', 'control_period',
       'liquidity_demand_shock', 'arbitrageur_considers_liquidation_ratio',
       'rescale_target_price', 'target_price_scaled'],
      dtype='object')

In [5]:
parameter_df.run.unique()

array([1, 2, 3, 4, 5])

In [6]:
parameter_df.subset.unique()

array([0, 1, 2, 3, 4, 5])

In [7]:
parameter_df.substep.unique()

array([ 0, 18])

In [8]:
# subset to last substep
parameter_df = parameter_df.query('substep == 18')