# The Graph Data Access

In this notebook, we retrieve live Rai system data from [The Graph](https://thegraph.com/explorer/subgraph/reflexer-labs/rai-mainnet?query=Example%20query) and save it as a CSV for analysis in the [Graph Analysis](TheGraphDataAnalysis.ipynb) notebook.

## Full Reflexer Labs dashboad query
```
{
  internalCoinBalances(where: {accountHandler: "${GEB_STABILITY_FEE_TREASURY}"}) { 
    balance
  }
  accountingEngine(id: "current") { # can it use block number?
    activeDebtAuctions
    activeSurplusAuctions
  }
  collateralType(id: "ETH-A") {
    currentPrice {
      value
    }
    currentMedianizerUpdate {
      value
    }
    debtCeiling
    activeLiquidations
    liquidationsStarted
    totalCollateral
    totalAnnualizedStabilityFee
  }
  systemState(id: "current") { # can it use block number?
    coinUniswapPair {
      reserve0
      reserve1
    }
    currentCoinMedianizerUpdate{
      value
    }
    currentRedemptionRate {
      eightHourlyRate
      annualizedRate
      hourlyRate
      createdAt
    }
    currentRedemptionPrice {
      value
    }
    erc20CoinTotalSupply
    globalDebt
    globalDebtCeiling
    totalActiveSafeCount
    coinAddress
    wethAddress
    systemSurplus
    debtAvailableToSettle
  }
  dailyStats(first: 1000, orderDirection: desc) {
    globalDebt
    timestamp
    redemptionRate {
      twentyFourHourlyRate
    }
  }
  hourlyStats(first: 1000, orderBy: timestamp, orderDirection: desc) {
    globalDebt
    timestamp
    redemptionRate {
      hourlyRate
    }
    redemptionPrice{
      value
    }
    marketPriceUsd
  }
}
```

In [1]:
# import libraries
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt

# Graph
url = 'https://api.thegraph.com/subgraphs/name/reflexer-labs/rai-mainnet'

## Hourly stats

In [3]:
query_header = '''
query {{
    hourlyStats(first: 1000, skip:{}) {{'''

query_tail = '''    
}
}'''

query_body = '''
 timestamp
    blockNumber
    redemptionRate {
      hourlyRate
    }
    redemptionPrice {
      id
      block
      value
      
    }
    marketPriceUsd # price of COIN in USD (uni pool price * ETH median price)
    marketPriceEth # Price of COIN in ETH (uni pool price)
    globalDebt
    erc20CoinTotalSupply
'''


n = 0
hourly = []
while True:
    print(f'request {n+1}')
    query = query_header.format(n*1000) + query_body + query_tail
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['hourlyStats']
    print(f'results {len(s)}')
    hourly.extend(s)
    print(f'total {len(hourly)}')
    n += 1
    if len(s) < 1000:
        break
        
hourlyStats = pd.DataFrame(hourly)

request 1
results 834
total 834

In [5]:
hourlyStats

,blockNumber,erc20CoinTotalSupply,globalDebt,marketPriceEth,marketPriceUsd,redemptionPrice,redemptionRate,timestamp
0,11857308,1988.440432971667032725,1988.577499489843641169436691184972,0.002589462210048543650949087456484599,4.670500166535429740591356399938391,"{'block': '11849022', 'id': '0xe313271188492c4...",{'hourlyRate': '1'},1613338681
1,11860793,2788.440432971667032725,2788.617717345781163523077653358556,0.002481355746535171105569862943787003,4.377049344386119132419461918241039,"{'block': '11860755', 'id': '0x40066774f6fb7d3...",{'hourlyRate': '1'},1613384616
2,11861040,2788.440432971667032725,2788.657935201718685876567866781341,0.002481355746535171105569862943787003,4.406833024856393396658172078078713,"{'block': '11861008', 'id': '0x0d551e2a2d55fa8...",{'hourlyRate': '1'},1613387890
3,11861337,2788.440432971667032725,2788.657935201718685876567866781341,0.002481355746535171105569862943787003,4.419265710853707004204445293455575,"{'block': '11861237', 'id': '0x5c67dbb323db039...",{'hourlyRate': '1'},1613392101
4,11861474,3048.440432971667032725,3048.645954953510904626288422086589,0.001768934955701819449591545208406114,3.194329891923853932595347583210722,"{'block': '11861237', 'id': '0x5c67dbb323db039...",{'hourlyRate': '1'},1613394096
...,...,...,...,...,...,...,...,...
829,12089344,43487860.667051349456944081,43734759.10991572746971733487829186,0.00166190689134055979943670720138926,2.961266118000318663788795713922176,"{'block': '12089330', 'id': '0xc10a4cb762e1703...",{'hourlyRate': '1.000022024491477833300653081'},1616426158
830,12089714,43511896.036432746638848263,43758790.10435062289909417424501354,0.001662919533436415830937551013666968,2.957407846722545124011695620756376,"{'block': '12089617', 'id': '0xb07aac45d52cb9c...",{'hourlyRate': '1.000022024491477833300653081'},1616430475
831,12089899,43403731.392585009614677379,43650842.40166812414301912924501354,0.001675952194066927327638159924307098,2.968899033223739753091171161112295,"{'block': '12089617', 'id': '0xb07aac45d52cb9c...",{'hourlyRate': '1.000022024491477833300653081'},1616433066
832,12090203,43390331.392585009614677379,43637469.27747070418925089924501354,0.001673900347181184118392335848904411,2.983476283798383513416579800294777,"{'block': '12090152', 'id': '0xee81ea069ecd53b...",{'hourlyRate': '1.000022024491477833300653081'},1616437077
833,12090516,43390331.392585009614677379,43637581.68135954775534817640895549,0.001679150420895124440033625064430176,2.928012442253931170680659340663595,"{'block': '12090480', 'id': '0x128e8125b2cc0ff...",{'hourlyRate': '1.000022374372766204773206208'},1616441324

In [34]:
hourlyStats.redemptionPrice.values[-1]

{'block': '12090480',
 'id': '0x128e8125b2cc0ff141b8ce58b2f47c70509c7a524efff7c565490dcb59c3b7d7-240',
 'redemptionRate': '1.000000006215034036996657478',
 'value': '3.020087944526902135786975966'}

In [35]:
hourlyStats.redemptionRate.values[-1]

{'hourlyRate': '1.000022374372766204773206208'}

In [7]:
hourlyStats['redemptionPriceActual'] = hourlyStats.redemptionPrice.apply(lambda x: x['value'])

In [8]:
hourlyStats['redemptionRateActual'] = hourlyStats.redemptionPrice.apply(lambda x: x['redemptionRate'])

In [9]:
hourlyStats['erc20CoinTotalSupply'] = hourlyStats['erc20CoinTotalSupply'].astype(float)
hourlyStats['globalDebt'] = hourlyStats['globalDebt'].astype(float)
hourlyStats['blockNumber'] = hourlyStats['blockNumber'].astype(int)
hourlyStats['marketPriceEth'] = hourlyStats['marketPriceEth'].astype(float)
hourlyStats['marketPriceUsd'] = hourlyStats['marketPriceUsd'].astype(float)
hourlyStats['redemptionPriceActual'] = hourlyStats['redemptionPriceActual'].astype(float)
hourlyStats['redemptionRateActual'] = hourlyStats['redemptionRateActual'].astype(float)

In [10]:
hourlyStats.describe()

,blockNumber,erc20CoinTotalSupply,globalDebt,marketPriceEth,marketPriceUsd,redemptionPriceActual,redemptionRateActual
count,8.340000e+02,8.340000e+02,8.340000e+02,834.000000,834.000000,834.000000,8.340000e+02
mean,1.197470e+07,3.305505e+07,3.350672e+07,0.001885,3.223918,3.066364,1.000000e+00
std,6.609387e+04,1.428475e+07,1.441385e+07,0.000302,0.447405,0.049342,1.633703e-08
min,1.185731e+07,1.988440e+03,1.988577e+03,0.001600,2.850455,3.013686,9.999999e-01
25%,1.191771e+07,2.714650e+07,2.737521e+07,0.001668,3.014544,3.017765,1.000000e+00
50%,1.197444e+07,3.449464e+07,3.546279e+07,0.001784,3.151019,3.049511,1.000000e+00
75%,1.203184e+07,4.553056e+07,4.571930e+07,0.002057,3.272902,3.119491,1.000000e+00
max,1.209052e+07,4.899876e+07,4.918825e+07,0.004474,8.055382,3.140000,1.000000e+00

In [11]:
hourlyStats.to_csv('saved_results/RaiLiveGraphData.csv')

## Daily stats - WIP

In [13]:
query_header = '''
query {{
    dailyStats(first: 1000, skip:{}) {{'''

query_tail = '''    
}
}'''

query_body = '''
    timestamp
    globalDebt
    redemptionRate {
      twentyFourHourlyRate
    }
'''



n = 0
results = []
while True:
    print(f'request {n+1}')
    query = query_header.format(n*1000) + query_body + query_tail
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['dailyStats']
    print(f'results {len(s)}')
    results.extend(s)
    print(f'total {len(results)}')
    n += 1
    if len(s) < 1000:
        break
        
dailyStats = pd.DataFrame(results)

dailyStats.head()

request 1
results 37
total 37

,globalDebt,redemptionRate,timestamp
0,1988.508966230755336947218345592486,{'twentyFourHourlyRate': '1'},1613338681
1,2788.522357955470745187436691184972,{'twentyFourHourlyRate': '1'},1613383785
2,7204.841129160410399042582689488635,{'twentyFourHourlyRate': '1'},1613436497
3,10603.09390239356752028390089696083,{'twentyFourHourlyRate': '0.999999085220771157...,1613520522
4,4755099.686882616278066513280682631,{'twentyFourHourlyRate': '0.999999911975837683...,1613606864

## System State - WIP

In [22]:
blocknumbers = hourlyStats.blockNumber.values.tolist()
state = []
for i in blocknumbers:
    query = '''
    {
      systemState(block: {number:%s},id:"current") { 
        coinUniswapPair {
          reserve0
          reserve1
        }
        currentCoinMedianizerUpdate{
          value
        }
        currentRedemptionRate {
          eightHourlyRate
          annualizedRate
          hourlyRate
          createdAt
        }
        currentRedemptionPrice {
          value
        }
        erc20CoinTotalSupply
        globalDebt
        globalDebtCeiling
        totalActiveSafeCount
        coinAddress
        wethAddress
        systemSurplus
        debtAvailableToSettle
      }
    }
    ''' % i
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['systemState']
    state.append(s)
        
systemState = pd.DataFrame(state)

systemState.head()

,coinAddress,coinUniswapPair,currentCoinMedianizerUpdate,currentRedemptionPrice,currentRedemptionRate,debtAvailableToSettle,erc20CoinTotalSupply,globalDebt,globalDebtCeiling,systemSurplus,totalActiveSafeCount,wethAddress
0,0x03ab458634910aad20ef5f1c8ee96f1d6ac54919,"{'reserve0': '661.764842786150958141', 'reserv...",None,{'value': '3.14'},"{'annualizedRate': '1', 'createdAt': '16132260...",0,2788.440432971667032725,2788.522357955470745187436691184972,115792089237316195423570985008687.9,0.06853325908830422221834559248594176,3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
1,0x03ab458634910aad20ef5f1c8ee96f1d6ac54919,"{'reserve0': '676.933726709008306816', 'reserv...",None,{'value': '3.14'},"{'annualizedRate': '1', 'createdAt': '16132260...",0,2788.440432971667032725,2788.657935201718685876567866781341,115792089237316195423570985008687.9,0.1087511150258265757085590152709335,3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
2,0x03ab458634910aad20ef5f1c8ee96f1d6ac54919,"{'reserve0': '676.933726709008306816', 'reserv...",None,{'value': '3.14'},"{'annualizedRate': '1', 'createdAt': '16132260...",0,2788.440432971667032725,2788.657935201718685876567866781341,115792089237316195423570985008687.9,0.1087511150258265757085590152709335,3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
3,0x03ab458634910aad20ef5f1c8ee96f1d6ac54919,"{'reserve0': '676.933726709008306816', 'reserv...",None,{'value': '3.14'},"{'annualizedRate': '1', 'createdAt': '16132260...",0,2788.440432971667032725,2788.657935201718685876567866781341,115792089237316195423570985008687.9,0.1087511150258265757085590152709335,3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
4,0x03ab458634910aad20ef5f1c8ee96f1d6ac54919,"{'reserve0': '801.933726709008306816', 'reserv...",{'value': '0'},{'value': '3.14'},"{'annualizedRate': '1', 'createdAt': '16132260...",0,3048.440432971667032725,3048.645954953510904626288422086589,115792089237316195423570985008687.9,0.1161617985274885650688366678947734,3,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2

## Internal Coin Balances - WIP

balance = []
for i in blocknumbers:
    query = '''
    {
      internalCoinBalances((block: {number:%s},where: {accountHandler: "${GEB_STABILITY_FEE_TREASURY}"}) {
        balance
      }
    }
    ''' % i
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['internalCoinBalances']
    balance.append(s)
        
coinBalances = pd.DataFrame(balance)

coinBalances.head()

In [27]:
r.content

b'{"errors":[{"locations":[{"column":28,"line":3}],"message":"Unexpected `([Punctuator]`\\nExpected `Name`"}]}'

## Accounting Engine - WIP

In [31]:
blocknumbers = hourlyStats.blockNumber.values.tolist()
accounts = []
for i in blocknumbers:
    query = '''
    {
      accountingEngine(block: {number:%s},id: "current") { 
        activeDebtAuctions
        activeSurplusAuctions
      }
    }
    ''' % i
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['accountingEngine']
    accounts.append(s)
        
accountingEngine = pd.DataFrame(accounts)

accountingEngine.head()

blocknumber 11857308
blocknumber 11860793
blocknumber 11861040
blocknumber 11861337
blocknumber 11861474
blocknumber 11861791
blocknumber 11862113
blocknumber 11862329
blocknumber 11862624
blocknumber 11862906
blocknumber 11863227
blocknumber 11863455
blocknumber 11863774
blocknumber 11864026
blocknumber 11864260
blocknumber 11864895
blocknumber 11865064
blocknumber 11865513
blocknumber 11865735
blocknumber 11865824
blocknumber 11866378
blocknumber 11866683
blocknumber 11867014
blocknumber 11867211
blocknumber 11867503
blocknumber 11867818
blocknumber 11868157
blocknumber 11868417
blocknumber 11868704
blocknumber 11868901
blocknumber 11869333
blocknumber 11869538
blocknumber 11869788
blocknumber 11870145
blocknumber 11870443
blocknumber 11870767
blocknumber 11870961
blocknumber 11871228
blocknumber 11871495
blocknumber 11871769
blocknumber 11872047
blocknumber 11872406
blocknumber 11872744
blocknumber 11872943
blocknumber 11873231
blocknumber 11873560
blocknumber 11873687
blocknumber 11874166
blocknumber 11874355
blocknumber 11874737
blocknumber 11874799
blocknumber 11875033
blocknumber 11875301
blocknumber 11875602
blocknumber 11875858
blocknumber 11876130
blocknumber 11876427
blocknumber 11876729
blocknumber 11876942
blocknumber 11877233
blocknumber 11877510
blocknumber 11877762
blocknumber 11878006
blocknumber 11878291
blocknumber 11878565
blocknumber 11878825
blocknumber 11879089
blocknumber 11879353
blocknumber 11879623
blocknumber 11879905
blocknumber 11880181
blocknumber 11880436
blocknumber 11880712
blocknumber 11881046
blocknumber 11881288
blocknumber 11881530
blocknumber 11881823
blocknumber 11882043
blocknumber 11882347
blocknumber 11882615
blocknumber 11882968
blocknumber 11883106
blocknumber 11883364
blocknumber 11883701
blocknumber 11883934
blocknumber 11884222
blocknumber 11884503
blocknumber 11884783
blocknumber 11885035
blocknumber 11885312
blocknumber 11885574
blocknumber 11885863
blocknumber 11886109
blocknumber 11886403
blocknumber 11886666
blocknumber 11886962
blocknumber 11887257
blocknumber 11887505
blocknumber 11887805
blocknumber 11888104
blocknumber 11888321
blocknumber 11888774
blocknumber 11888851
blocknumber 11889138
blocknumber 11889386
blocknumber 11889679
blocknumber 11889979
blocknumber 11890220
blocknumber 11890547
blocknumber 11890817
blocknumber 11891101
blocknumber 11891341
blocknumber 11891606
blocknumber 11891870
blocknumber 11892115
blocknumber 11892416
blocknumber 11892717
blocknumber 11892920
blocknumber 11893306
blocknumber 11893492
blocknumber 11893695
blocknumber 11894139
blocknumber 11894309
blocknumber 11894600
blocknumber 11894778
blocknumber 11895081
blocknumber 11895331
blocknumber 11895682
blocknumber 11895860
blocknumber 11896141
blocknumber 11896458
blocknumber 11896746
blocknumber 11897016
blocknumber 11897261
blocknumber 11897547
blocknumber 11897772
blocknumber 11898006
blocknumber 11898297
blocknumber 11898570
blocknumber 11898818
blocknumber 11899077
blocknumber 11899352
blocknumber 11899620
blocknumber 11899872
blocknumber 11900135
blocknumber 11900419
blocknumber 11900676
blocknumber 11900996
blocknumber 11901231
blocknumber 11901534
blocknumber 11901816
blocknumber 11902080
blocknumber 11902344
blocknumber 11902664
blocknumber 11903008
blocknumber 11903192
blocknumber 11903514
blocknumber 11903832
blocknumber 11904041
blocknumber 11904319
blocknumber 11904570
blocknumber 11904848
blocknumber 11905179
blocknumber 11905405
blocknumber 11905718
blocknumber 11905931
blocknumber 11906169
blocknumber 11906465
blocknumber 11906878
blocknumber 11907069
blocknumber 11907394
blocknumber 11907684
blocknumber 11907778
blocknumber 11908112
blocknumber 11908482
blocknumber 11908599
blocknumber 11908934
blocknumber 11909147
blocknumber 11909455
blocknumber 11909741
blocknumber 11910081
blocknumber 11910222
blocknumber 11910678
blocknumber 11910821
blocknumber 11911052
blocknumber 11911359
blocknumber 11911573
blocknumber 11911829
blocknumber 11912093
blocknumber 11912417
blocknumber 11912669
blocknumber 11912958
blocknumber 11913226
blocknumber 11913461
blocknumber 11913823
blocknumber 11914078
blocknumber 11914286
blocknumber 11914616
blocknumber 11914978
blocknumber 11915214
blocknumber 11915592
blocknumber 11915690
blocknumber 11916005
blocknumber 11916411
blocknumber 11916586
blocknumber 11916836
blocknumber 11917015
blocknumber 11917308
blocknumber 11917657
blocknumber 11917857
blocknumber 11918185
blocknumber 11918398
blocknumber 11918656
blocknumber 11918909
blocknumber 11919155
blocknumber 11919458
blocknumber 11919732
blocknumber 11920015
blocknumber 11920249
blocknumber 11920625
blocknumber 11920819
blocknumber 11921053
blocknumber 11921377
blocknumber 11921736
blocknumber 11921885
blocknumber 11922131
blocknumber 11922399
blocknumber 11922733
blocknumber 11922969
blocknumber 11923245
blocknumber 11923592
blocknumber 11923760
blocknumber 11924038
blocknumber 11924307
blocknumber 11924562
blocknumber 11924872
blocknumber 11925124
blocknumber 11925430
blocknumber 11925709
blocknumber 11926062
blocknumber 11926287
blocknumber 11926502
blocknumber 11926819
blocknumber 11927069
blocknumber 11927295
blocknumber 11927619
blocknumber 11927837
blocknumber 11928097
blocknumber 11928497
blocknumber 11928670
blocknumber 11929003
blocknumber 11929452
blocknumber 11929525
blocknumber 11929869
blocknumber 11930006
blocknumber 11930331
blocknumber 11930570
blocknumber 11930828
blocknumber 11931201
blocknumber 11931385
blocknumber 11931709
blocknumber 11931914
blocknumber 11932227
blocknumber 11932520
blocknumber 11932886
blocknumber 11933070
blocknumber 11933320
blocknumber 11933643
blocknumber 11933894
blocknumber 11934113
blocknumber 11934496
blocknumber 11934757
blocknumber 11934952
blocknumber 11935165
blocknumber 11935474
blocknumber 11935736
blocknumber 11936194
blocknumber 11936315
blocknumber 11936588
blocknumber 11936912
blocknumber 11937121
blocknumber 11937396
blocknumber 11937620
blocknumber 11937887
blocknumber 11938232
blocknumber 11938487
blocknumber 11938686
blocknumber 11938990
blocknumber 11939355
blocknumber 11939617
blocknumber 11939848
blocknumber 11940064
blocknumber 11940465
blocknumber 11940620
blocknumber 11940901
blocknumber 11941138
blocknumber 11941507
blocknumber 11941663
blocknumber 11941955
blocknumber 11942487
blocknumber 11942612
blocknumber 11942820
blocknumber 11943055
blocknumber 11943320
blocknumber 11943621
blocknumber 11943878
blocknumber 11944237
blocknumber 11944387
blocknumber 11944727
blocknumber 11944953
blocknumber 11945152
blocknumber 11945495
blocknumber 11945797
blocknumber 11945994
blocknumber 11946366
blocknumber 11946588
blocknumber 11946805
blocknumber 11947253
blocknumber 11947474
blocknumber 11947625
blocknumber 11947845
blocknumber 11948370
blocknumber 11948456
blocknumber 11948684
blocknumber 11949052
blocknumber 11949247
blocknumber 11949564
blocknumber 11949861
blocknumber 11950095
blocknumber 11950359
blocknumber 11950633
blocknumber 11950993
blocknumber 11951148
blocknumber 11951440
blocknumber 11951785
blocknumber 11952093
blocknumber 11952211
blocknumber 11952479
blocknumber 11952717
blocknumber 11953045
blocknumber 11953355
blocknumber 11953634
blocknumber 11953808
blocknumber 11954100
blocknumber 11954424
blocknumber 11954687
blocknumber 11954919
blocknumber 11955284
blocknumber 11955458
blocknumber 11955717
blocknumber 11956042
blocknumber 11956247
blocknumber 11956568
blocknumber 11956968
blocknumber 11957095
blocknumber 11957414
blocknumber 11957639
blocknumber 11957931
blocknumber 11958236
blocknumber 11958502
blocknumber 11958808
blocknumber 11959021
blocknumber 11959353
blocknumber 11959689
blocknumber 11960004
blocknumber 11960208
blocknumber 11960507
blocknumber 11960684
blocknumber 11960993
blocknumber 11961171
blocknumber 11961531
blocknumber 11961787
blocknumber 11962457
blocknumber 11962501
blocknumber 11962771
blocknumber 11963022
blocknumber 11963301
blocknumber 11963727
blocknumber 11963855
blocknumber 11964106
blocknumber 11964429
blocknumber 11964642
blocknumber 11964932
blocknumber 11965179
blocknumber 11965460
blocknumber 11965792
blocknumber 11966182
blocknumber 11966373
blocknumber 11966621
blocknumber 11966852
blocknumber 11967121
blocknumber 11967352

blocknumber 11967817
blocknumber 11967928
blocknumber 11968237
blocknumber 11968564
blocknumber 11968695
blocknumber 11968993
blocknumber 11969259
blocknumber 11969471
blocknumber 11969791
blocknumber 11970092
blocknumber 11970339
blocknumber 11970629
blocknumber 11970958
blocknumber 11971227
blocknumber 11971428
blocknumber 11971736
blocknumber 11971995
blocknumber 11972384
blocknumber 11972558
blocknumber 11972870
blocknumber 11973210
blocknumber 11973486
blocknumber 11973599
blocknumber 11973991
blocknumber 11974303
blocknumber 11974578
blocknumber 11974779
blocknumber 11974960
blocknumber 11975202
blocknumber 11975591
blocknumber 11975734
blocknumber 11976137
blocknumber 11976314
blocknumber 11976604
blocknumber 11976874
blocknumber 11977150
blocknumber 11977435
blocknumber 11977701
blocknumber 11977992
blocknumber 11978248
blocknumber 11978553
blocknumber 11978776
blocknumber 11979063
blocknumber 11979317
blocknumber 11979581
blocknumber 11979861
blocknumber 11980224
blocknumber 11980401
blocknumber 11980705
blocknumber 11980979
blocknumber 11981402
blocknumber 11981623
blocknumber 11981756
blocknumber 11982099
blocknumber 11982285
blocknumber 11982561
blocknumber 11982876
blocknumber 11983118
blocknumber 11983346
blocknumber 11983680
blocknumber 11983917
blocknumber 11984244
blocknumber 11984491
blocknumber 11984814
blocknumber 11985093
blocknumber 11985382
blocknumber 11985694
blocknumber 11985865
blocknumber 11986196
blocknumber 11986479
blocknumber 11986666
blocknumber 11986924
blocknumber 11987205
blocknumber 11987636
blocknumber 11987922
blocknumber 11988017
blocknumber 11988307
blocknumber 11988584
blocknumber 11988911
blocknumber 11989125
blocknumber 11989427
blocknumber 11989654
blocknumber 11989902
blocknumber 11990224
blocknumber 11990422
blocknumber 11990733
blocknumber 11990964
blocknumber 11991337
blocknumber 11991676
blocknumber 11991769
blocknumber 11992137
blocknumber 11992433
blocknumber 11992584
blocknumber 11992945
blocknumber 11993074
blocknumber 11993574
blocknumber 11993679
blocknumber 11993957
blocknumber 11994277
blocknumber 11994483
blocknumber 11994777
blocknumber 11995093
blocknumber 11995382
blocknumber 11995594
blocknumber 11995875
blocknumber 11996137
blocknumber 11996393
blocknumber 11996653
blocknumber 11996978
blocknumber 11997189
blocknumber 11997459
blocknumber 11997811
blocknumber 11998014
blocknumber 11998311
blocknumber 11998556
blocknumber 11998876
blocknumber 11999149
blocknumber 11999334
blocknumber 11999751
blocknumber 11999912
blocknumber 12000187
blocknumber 12000475
blocknumber 12000742
blocknumber 12000991
blocknumber 12001302
blocknumber 12001548
blocknumber 12001817
blocknumber 12002065
blocknumber 12002319
blocknumber 12002598
blocknumber 12002854
blocknumber 12003139
blocknumber 12003413
blocknumber 12003668
blocknumber 12003954
blocknumber 12004210
blocknumber 12004508
blocknumber 12004773
blocknumber 12004991
blocknumber 12005265
blocknumber 12005655
blocknumber 12005869
blocknumber 12006266
blocknumber 12006425
blocknumber 12006685
blocknumber 12006892
blocknumber 12007266
blocknumber 12007423
blocknumber 12007684
blocknumber 12008127
blocknumber 12008227
blocknumber 12008505
blocknumber 12008769
blocknumber 12009054
blocknumber 12009322
blocknumber 12009628
blocknumber 12009884
blocknumber 12010219
blocknumber 12010465
blocknumber 12010817
blocknumber 12010941
blocknumber 12011285
blocknumber 12011610
blocknumber 12011958
blocknumber 12012102
blocknumber 12012308
blocknumber 12012759
blocknumber 12012935
blocknumber 12013224
blocknumber 12013472
blocknumber 12013749
blocknumber 12014320
blocknumber 12014523
blocknumber 12014871
blocknumber 12015287
blocknumber 12015346
blocknumber 12015631
blocknumber 12015824
blocknumber 12016097
blocknumber 12016387
blocknumber 12016620
blocknumber 12016903
blocknumber 12017186
blocknumber 12017465
blocknumber 12017765
blocknumber 12018036
blocknumber 12018286
blocknumber 12018631
blocknumber 12018806
blocknumber 12019150
blocknumber 12019379
blocknumber 12019644
blocknumber 12019995
blocknumber 12020291
blocknumber 12020564
blocknumber 12020949
blocknumber 12021437
blocknumber 12021599
blocknumber 12021753
blocknumber 12022014
blocknumber 12022557
blocknumber 12022837
blocknumber 12023039
blocknumber 12023393
blocknumber 12023587
blocknumber 12023968
blocknumber 12024095
blocknumber 12024468
blocknumber 12024650
blocknumber 12025120
blocknumber 12025186
blocknumber 12025593
blocknumber 12025746
blocknumber 12026245
blocknumber 12026367
blocknumber 12026594
blocknumber 12027163
blocknumber 12027393
blocknumber 12027710
blocknumber 12027871
blocknumber 12028192
blocknumber 12028494
blocknumber 12028799
blocknumber 12028998
blocknumber 12029300
blocknumber 12029617
blocknumber 12029803
blocknumber 12030146
blocknumber 12030472
blocknumber 12030708
blocknumber 12030949
blocknumber 12031335
blocknumber 12031502
blocknumber 12031957
blocknumber 12032133
blocknumber 12032298
blocknumber 12032582
blocknumber 12033007
blocknumber 12033258
blocknumber 12033549
blocknumber 12033857
blocknumber 12033887
blocknumber 12034144
blocknumber 12034485
blocknumber 12034702
blocknumber 12034972
blocknumber 12035318
blocknumber 12035662
blocknumber 12035801
blocknumber 12036124
blocknumber 12036398
blocknumber 12036664
blocknumber 12036905
blocknumber 12037143
blocknumber 12037534
blocknumber 12037846
blocknumber 12037924
blocknumber 12038301
blocknumber 12038641
blocknumber 12038786
blocknumber 12039169
blocknumber 12039332
blocknumber 12039677
blocknumber 12039993
blocknumber 12040330
blocknumber 12040455
blocknumber 12040731
blocknumber 12040906
blocknumber 12041157
blocknumber 12041426
blocknumber 12041704
blocknumber 12042020
blocknumber 12042272
blocknumber 12042567
blocknumber 12042870
blocknumber 12043178
blocknumber 12043416
blocknumber 12043680
blocknumber 12043978
blocknumber 12044265
blocknumber 12044561
blocknumber 12044685
blocknumber 12044977
blocknumber 12045427
blocknumber 12045549
blocknumber 12045804
blocknumber 12046236
blocknumber 12046793
blocknumber 12046869
blocknumber 12047390
blocknumber 12047584
blocknumber 12047709
blocknumber 12047996
blocknumber 12048341
blocknumber 12048495
blocknumber 12048810
blocknumber 12048992
blocknumber 12049277
blocknumber 12049580
blocknumber 12049807
blocknumber 12050143
blocknumber 12050402
blocknumber 12050724
blocknumber 12050967
blocknumber 12051373
blocknumber 12051563
blocknumber 12051791
blocknumber 12052217
blocknumber 12052393
blocknumber 12052738
blocknumber 12053135
blocknumber 12053516
blocknumber 12053820
blocknumber 12054141
blocknumber 12054357
blocknumber 12054474
blocknumber 12054769
blocknumber 12054963
blocknumber 12055297
blocknumber 12055596
blocknumber 12055809
blocknumber 12056087
blocknumber 12056404
blocknumber 12056713
blocknumber 12056965
blocknumber 12057226
blocknumber 12057533
blocknumber 12057855
blocknumber 12058036
blocknumber 12058314
blocknumber 12058650
blocknumber 12058967
blocknumber 12059078
blocknumber 12059482
blocknumber 12059665
blocknumber 12060044
blocknumber 12060186
blocknumber 12060398
blocknumber 12060707
blocknumber 12061017
blocknumber 12061315
blocknumber 12061592
blocknumber 12061706
blocknumber 12062003
blocknumber 12062273
blocknumber 12062591
blocknumber 12062857
blocknumber 12063140
blocknumber 12063425
blocknumber 12063740
blocknumber 12063971
blocknumber 12064188
blocknumber 12064615
blocknumber 12064892
blocknumber 12065102
blocknumber 12065421
blocknumber 12065631
blocknumber 12066232
blocknumber 12066522
blocknumber 12066651
blocknumber 12067086
blocknumber 12067190
blocknumber 12067706
blocknumber 12068015
blocknumber 12068268
blocknumber 12068800
blocknumber 12069122
blocknumber 12069356
blocknumber 12069673
blocknumber 12069924
blocknumber 12070253
blocknumber 12070443
blocknumber 12070822
blocknumber 12071132
blocknumber 12071432
blocknumber 12071700
blocknumber 12071806
blocknumber 12072047
blocknumber 12072447
blocknumber 12072683
blocknumber 12073011
blocknumber 12073288
blocknumber 12073668
blocknumber 12073997
blocknumber 12074399
blocknumber 12074809
blocknumber 12075100
blocknumber 12075322
blocknumber 12075599
blocknumber 12075878
blocknumber 12076127
blocknumber 12076403

blocknumber 12076685
blocknumber 12076973
blocknumber 12077308
blocknumber 12077459
blocknumber 12077877
blocknumber 12078035
blocknumber 12078274
blocknumber 12078700
blocknumber 12079162
blocknumber 12079629
blocknumber 12079684
blocknumber 12079947
blocknumber 12080197
blocknumber 12080531
blocknumber 12080819
blocknumber 12081066
blocknumber 12081458
blocknumber 12081665
blocknumber 12081842
blocknumber 12082014
blocknumber 12082319
blocknumber 12082576
blocknumber 12082829
blocknumber 12083160
blocknumber 12083478
blocknumber 12083790
blocknumber 12083961
blocknumber 12084283
blocknumber 12084584
blocknumber 12084916
blocknumber 12085111
blocknumber 12085404
blocknumber 12085546
blocknumber 12086012
blocknumber 12086165
blocknumber 12086361
blocknumber 12086624
blocknumber 12086932
blocknumber 12087255
blocknumber 12087567
blocknumber 12087684
blocknumber 12087979
blocknumber 12088259
blocknumber 12088584
blocknumber 12089054
blocknumber 12089344
blocknumber 12089714
blocknumber 12089899
blocknumber 12090203
blocknumber 12090516

  activeDebtAuctions activeSurplusAuctions
0                  0                     0
1                  0                     0
2                  0                     0
3                  0                     0
4                  0                     0

## Eth Price

In [33]:
blocknumbers = hourlyStats.blockNumber.values.tolist()
eth_price = []
for i in blocknumbers:
    query = '''
    {
      collateralType(block: {number:%s}, id: "ETH-A") {
        currentFsmUpdate {
          value
        }
        currentMedianizerUpdate {
          value
        }
        debtCeiling
        activeLiquidations
        liquidationsStarted
        totalCollateral
        totalAnnualizedStabilityFee
      }
    }
    ''' % i
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['collateralType']
    eth_price.append(s)
        
collateralType = pd.DataFrame(eth_price)

collateralType.head()

,activeLiquidations,currentFsmUpdate,currentMedianizerUpdate,debtCeiling,liquidationsStarted,totalAnnualizedStabilityFee,totalCollateral
0,0,{'value': '1803.65643044'},{'value': '1803.65643044'},10000000,0,1.019999999999999999972831879,14.892360473369843164
1,0,{'value': '1803.65643044'},{'value': '1763.97493608'},10000000,0,1.019999999999999999972831879,14.892360473369843164
2,0,{'value': '1763.97493608'},{'value': '1775.97792296'},10000000,0,1.019999999999999999972831879,14.892360473369843164
3,0,{'value': '1763.97493608'},{'value': '1780.98836373'},10000000,0,1.019999999999999999972831879,14.892360473369843164
4,0,{'value': '1763.97493608'},{'value': '1805.79273513'},10000000,0,1.019999999999999999972831879,16.892360473369843164

In [ ]:
collateralType

## Safes

query_header = '''
query {{
    safes(first: 1000, skip:{}) {{'''

query_tail = '''    
}
}'''

query_body = '''
    id # Safe ID if this Safe was created through the Safe Manager (GebSafeManager)
    collateral #Outstanding Safe debt 
    debt # Amount of collateral locked in the Safe
    owner {
        id
        safes{
            id
        }
    }
    createdAt # Block number at which this Safe was opened

'''


n = 0
safes = []
while True:
    print(f'request {n+1}')
    query = query_header.format(n*1000) + query_body + query_tail
    r = requests.post(url, json = {'query':query})
    s = json.loads(r.content)['data']['safes']
    print(f'results {len(s)}')
    safes.extend(s)
    print(f'total {len(safes)}')
    n += 1
    if len(s) < 1000:
        break
        
safes = pd.DataFrame(safes)

safes['createdAt'] = safes['createdAt'].astype(float)
safes['debt'] = safes['debt'].astype(float)

safes.describe()

safes.owner.apply(lambda x: len([d['id'] for d in x['safes'] ])).hist()

safes.debt = safes.debt.apply(float)
safes.collateral = safes.collateral.apply(float)
safes['debt_ratio'] = safes.debt/safes.collateral

safes.debt_ratio.hist()

safes[safes.debt_ratio>0].debt_ratio.apply(lambda x :1/x).hist()

## Conclusion

Using The Graph, a lot of data about the Rai system can be obtained for analyzing the health of the system. With some data manipulation, these data streams could be intergrated into the Rai cadCAD model to turn it into a true decision support system.